
<div class="col-sm-6 col-md-6">
    <div class="panel">
        <div class="panel-heading">
            <h1 class="plan-title">Client</h1>
        </div>
        <div class="panel-body">
            
            <p class="text-semibold text-mint"></p>
            <div class="plan-icon">
                <i class="fa fa-empire fa-5x"></i>
            </div>

            <p class="text-muted pad-btm">
                If you are client and want post project choose this.
            </p>
            <a href="{{path('client_registration')}}" class="btn btn-block btn-primary btn-lg">Register</a>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-6">
    <div class="panel">
        <div class="panel-heading">
            <h1 class="plan-title">Freelancer</h1>
        </div>
        <div class="panel-body">
            
            <p class="text-semibold text-mint"></p>
            <div class="plan-icon">
                <i class="fa fa-users fa-5x"></i>
            </div>

            <p class="text-muted pad-btm">
                If you are freelancer and want earn money choose this.
            </p>
            <a href="{{path('freelancer_registration')}}" class="btn btn-block btn-primary btn-lg">Register</a>
        </div>
    </div>
</div>
