{% extends 'BidwebBundle::layout.html.twig' %}

{% block title %}Ccountries List - Select your country{% endblock%}

{% block body %}
    <header>
        <h1>Select Your Country</h1>
    </header>
    <article>
        <p>Her User Can Select Country.</p>
    </article>
{% endblock %}