{% extends '::landing.html.twig' %}
{% block title %}Help{% endblock%}
{% block content_title %}
    Bidweb Help
{% endblock %}
{% block path %}
 
    <li><a href="#">{{'help'|trans}}</a></li>

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Bidweb Help</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

{% endblock %}