

    {% if is_granted('ROLE_USER') %}
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <i class="fa fa-envelope fa-lg"></i>
            {% if msgCount != '0'%}
                <span class="badge badge-header badge-warning">

                    {{msgCount}}

                </span>
            {% endif %}
        </a>
           
    {% endif %}


