{% extends "FOSUserBundle::layout_guest.html.twig" %}



{% block body %}
    <div class="row">
        <div class="col-lg-10">
            <div class="panel">
                
                <div class="panel-body">
                    {% block fos_user_content %}
                        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}