<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title">Messages Box</h3>
    </div>
    <div class="panel-body">


        <div class="list-group bg-trans bord-no">
            <a href="{{path('user_msg_box')}}" class="list-group-item">
                <span class="badge badge-success pull-right">{{count}}</span><i class="fa fa-inbox fa-fw"></i> Inbox
            </a>
            <a href="{{path('user_msg_sent')}}" class="list-group-item"><i class="fa fa-send fa-fw"></i> Sent Message</a>
            <a href="#" class="list-group-item"><i class="fa fa-trash fa-fw"></i> Trash</a>
        </div>
    </div>
</div>