{# empty Twig template #}
{% extends '::landing.html.twig' %}

{% block title %}{{'history.project'|trans}} - Bidweb{% endblock%}
{% block content_title %}
    {{'history.project'|trans}}
{% endblock %}
{% block path %}
  
{% endblock %}
{% block body %}
    <h1>List of last project</h1>
{% endblock %}