{# empty Twig template #}
{% extends '::landing.html.twig' %}

{% block title %}{{'history.worker'|trans}} - Bidweb{% endblock%}
{% block content_title %}
    {{'history.worker'|trans}}
{% endblock %}
{% block path %}
  
{% endblock %}
{% block body %}
    <h1>List of last worker</h1>
{% endblock %}