{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {% spaceless %}

    {{ block('form_widget') }}
    
    {% if typeup =='img' %}
        {% if image_url is not null %}
            <a href='{{ asset(image_url) }}'><img width='40' height='40' src="{{ asset(image_url) }}"/></a>
        {% endif %}
    {% else %}
        {% if file_url is not null %}
            <a href='{{ asset(file_url) }}'>Download</a>
        {% endif %}
    {% endif %}
  
    {% endspaceless %}
{% endblock %}